.contour {
  fill: var(--text-color, #000);
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--text-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--text-color, #000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: red;
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: red;
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: red;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: red;
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .contour {
  fill: red;
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-size 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks-explode 0.3s 0.3s ease-in alternate;
}

.sparks {
  opacity: 0;
}

@keyframes menu-arrow {
  0% {
    left: -12px;
  }
  100% {
    left: -16px;
  }
}

@keyframes heart-size {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes sparks-explode {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
