:root {
  --main-font: "Inter", sans-serif;
  --accent-font: "Press Start 2P", fantasy;
  --title-fontweight: 700;
  --text-fontweight: 400;
  --background-color: #fff;
  --accent-color: #000;
  --text-color: #000;
  --shadow-color: #fff;
  --button-animation-color: #fff;
  --fill-color: red;
  --background-image_gradient: repeating-linear-gradient(
      to right,
      #d3d3d3 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}
